

<div class="container">
    <div class="row" >

        <div *ngIf="products.length>0;else empty">

        
        <div class="col-md-3"  *ngFor="let productinfo of products">
           
            <div class="shadow-lg p-3 mb-3 bg-white rounded">
                <div>
                    <h3>{{productinfo.title}}</h3>
                </div>
                 <span class="align-middle">
                    <!--Property binding-->
                    <img [src]="productinfo.imagepath" alt="{{productinfo.title}}" height="200" width="200"/>
                </span>
               <br/><br/>
               <div>
                

              
            

                <br/>
               
           
               </div>
                
           
            </div>
             
        </div>
        </div>
    </div>
   
</div>

<ng-template #empty>
    <p>
        Your cart is empty!!!!
     </p> 
</ng-template>




<!--


<div class="alert alert-success" *ngIf="products.length>0;else empty">
    <p *ngFor="let product of products">
        Name:{{product.title}}
        <br/>
        Quantity:{{product.quantity}}
        <br/>
        Price:{{product.price}}
        <br/>
        <img [src]="product.imagepath" alt="No Image"/>
        <br/>
        {{product.price*product.quantity}}<br/>
        <button (click)="removeItem(product)">Remove from Cart</button>
    </p>
    <p class="text text-danger">Total Price:{{grandTotal}}</p>
    </div>
    <ng-template #empty>
        <p>
            Your cart is empty!!!!
         </p> 
    </ng-template>  -->